header{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 0 80px;
    background-color: rgba(20, 29, 47, 1);
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 32px 80px;
}

h1{
    color: white;
    font-family: 'Poppins';
}

.right-side{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 32px;
}

nav{
    display: flex;
    gap: 32px;
}

a{
    text-decoration: none;
    transition: all 0.2s ease;
    color: white;
    font-family: 'Poppins';
}

a:hover{
    color: rgba(112, 230, 28, 1);
    text-decoration: underline;
    text-decoration-color: rgba(151, 71, 255, 1);
    text-underline-offset: 6px;
}

.language{
    display: flex;
    gap: 8px;
}

@media screen and (max-width: 1230px){
.right-side{
    display: none;
}
}