.hero{
    position: relative;
    width: 100%;
    min-height: calc(100vh - 110px);
    overflow: visible;
    background-color: rgba(20, 29, 47, 1);
    color: white;
}

.hero-shadow{
    position: absolute;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    height: auto;
    width: 650px;
}

.hero-shadow-left{
    left: -80px;
    width: 600px;
}

.hero-shadow-Right{
    top: -250px;
    right: -80px;
    width: 600px;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    max-width: 1440px;
    min-height: calc(100vh - 110px);
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 80px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
}

.hero-title{
    display: flex;
    align-items: center;
}

.iam{
    margin: 0 20 0 0;
    font-size: 64px;
    line-height: 1;
    white-space: nowrap;
    transform: rotate(-90deg);
}

.name-container{
    display: flex;
    flex-direction: column;
}

h2{
    margin: 0;
    font-size: 80px;
    line-height: 1;
}

.job-title{
    margin: 10px 0px 0px;
    color: rgba(151, 71, 255, 1);
    font-size: 46px;
    line-height: 1;
}

.talk-button{
    margin-top: 48px;
    margin-left: 500px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgba(112, 230, 28, 1);
    font-size: 22px;
    cursor: pointer;
    width: 150px;
}

.link-profiles::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);

    width: 300px;
    height: 4px;
    margin-right: 24px;
    background-color: rgba(112, 230, 28, 1);
    border-radius: 0px 4px 4px 0px;
}

.hero-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.link-profiles{
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
}

.link-profiles img{
    width: 30px;
    height: 30px;
}

.scroll-down{
    position: absolute;
    right: 30px;
    bottom: 120px;
    display: flex;
    align-items: center;
    gap: 10px;
    transform: rotate(90deg);
}

.scroll-down img{
    transform: rotate(-90deg);
    width: 14px;
}