<section id="Kontact" class="contact">

    <div class="headline">
        <h2>{{ 'CONTACT.TITLE' | translate }}</h2>
    </div>

    <div class="contact-wrapper">
        <div class="contact-text">
            <div class="head-contect-text">
                <h3>{{ 'CONTACT.QUESTION' | translate }}</h3>
            </div>
            <div class="head-bottom-text">
                <p>{{ 'CONTACT.DESCRIPTION' | translate }}</p>
                <p>{{ 'CONTACT.NEED' | translate }} <span>{{ 'CONTACT.ME' | translate }}</span></p>
            </div>
        </div>
        <div class="contact-formular">
            <div class="contact-input">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <label for="name"></label>
                    <input id="name" type="text" formControlName="name" [placeholder]="'CONTACT.NAME' | translate">
                    @if (contactForm.get('name')?.touched && contactForm.get('name')?.hasError('minlength')) {
                        <p class="error-message">{{ 'CONTACT.NAME_ERROR' | translate }}</p>
                    }

                    <label for="mail"></label>
                    <input id="mail" type="email" formControlName="email" [placeholder]="'CONTACT.EMAIL' | translate">
                    @if (contactForm.get('email')?.touched && contactForm.get('email')?.hasError('email')) {
                        <p class="error-message">{{ 'CONTACT.EMAIL_ERROR' | translate }}</p>
                    }

                    <label id="Message" for="textArea"></label>
                    <textarea id="Message" class="message-field" formControlName="message" [placeholder]="'CONTACT.MESSAGE' | translate"></textarea>
                    @if (contactForm.get('message')?.touched && contactForm.get('message')?.hasError('required')) {
                        <p class="error-message">{{ 'CONTACT.MESSAGE_ERROR' | translate }}</p>
                    }
                    <div class="checkbox">
                        <input type="checkbox" id="privacy" formControlName="privacy">
                        <label for="privacy">
                            {{ 'CONTACT.PRIVACY_BEFORE' | translate }}
                        <a routerLink="/privacy">{{ 'CONTACT.PRIVACY_LINK' | translate }}</a>
                            {{ 'CONTACT.PRIVACY_AFTER' | translate }}
                        </label>
                    </div>
                    <div class="btn-contact">
                        <button type="submit">{{ 'CONTACT.SEND' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a class="go-up-btn" href="app-header">
    <img src="assets/icons/4. Go up button.svg" alt=""></a>
</section>